* {
    margin: 0;
}

h1 {
    font-size: 5.9vw;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 800;
}

p {
    font-size: 1.3vw;
    font-family: 'Open Sans', sans-serif;
}

/*_________HEADER________*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.header-white {
    background-color: white;
    z-index: 1;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(201, 185, 201, 0.40);
    -moz-box-shadow: 0px 1px 5px 0px rgba(201, 185, 201, 0.40);
    box-shadow: 0px 1px 5px 0px rgba(201, 185, 201, 0.40);
}

.header-mobile {
    display: none;
}

.logo-mobile {
    display: none;
}

.logo {
    width: 20%;
    padding: 0.5% 0;
    margin-left: 2%;
    opacity: 0;
}

nav {
    width: 70%;
    margin-right: 2%;
    text-align: right;
    color: white;
}

.nav-color-grey {
    color: rgb(100, 100, 100);
}

nav ul {
    list-style-type: none;
}

.nav-element {
    display: inline-block;
    margin-left: 3%;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 800;
}

/*_________PORTADA_________*/

.portada {
    margin-top: 0 !important;
    border-bottom: 0px;
    padding-bottom: 0px;
    background-image: url("../images/img1.jpg");
    background-size: cover;
    width: 100%;
}

.portada-gradient {
    width: 100%;
    height: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#166c3b+0,f1a626+100 */
    background: rgb(22, 108, 59);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(22, 108, 59, 0.8) 0%, rgba(241, 166, 38, 0.8) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(22, 108, 59, 0.8) 0%, rgba(241, 166, 38, 0.8) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(22, 108, 59, 0.8) 0%, rgba(241, 166, 38, 0.8) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#166c3b', endColorstr='#f1a626', GradientType=1);
    /* IE6-9 */
}

.portada-title {
    width: 30%;
    margin-left: 5%;
    height: 40vh;
    padding: 30vh 0;
    color: white;
    line-height: 90%;
}

/*___________QUIÉNES SOMOS__________*/

.quienes-somos-grid {
    margin: 0% 0% 4% 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1% 49% 49% 1%;
    justify-items: center;
    align-items: center;
}

#quienes-somos h1 {
    color: rgb(241, 166, 60);
}

.quienes-somos-txt {
    grid-column: 2 / span 1;
}

.quienes-somos-txt p {
    font-size: 1.3vw;
    color: rgb(120, 120, 120);
    font-family: 'Open Sans', sans-serif;
    margin: 2% 0;
}

.quienes-somos-img {
    grid-column: 3/ span 1;
}

#quienes-somos img {
    margin-top: 10%;
    border-radius: 50%;
    width: 70%;
}

/*____________VISION________________*/

.section-vision {
    color: rgb(46, 59, 59);
    line-height: 26px;
    background-image: url("../images/bg_vision.jpg");
    background-size: cover;
}

.vision-box {
    background-color: rgba(0, 128, 0, 0.2);
    background-position: center;
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    padding: 10% 6%;
}

.vision-col {
    width: 50%;
}

.vision-col p {
    padding: 2% 2% 2% 0;
}

/*___________ENTRENAMIENTOS_________*/

.entrenamientos-title {
    color: rgb(120, 120, 120);
    margin-bottom: 5%;
}

.section-entrenamientos {
    display: flex;
    padding: 10% 0;
}

.entrenamientos-text {
    width: 40%;
    margin-left: 5%;
}

.entrenamientos-p {
    font-size: 1.3vw;
    color: rgb(120, 120, 120);
}

.entrenamientos-map {
    width: 40%;
    margin-left: 10%;
}

/*____________SUMATE________________*/

.section-sumate {
    background-color: hsl(35, 87%, 63%);
    height: 90vh;
}

.sumate-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-sumate {
    color: white;
}

.sumate-title {
    color: white;
    margin-left: 5%;
    padding-top: 8%;
}

.sumate-text {
    color: white;
    width: 40%;
    margin: 0 5%;
}

.sumate-contact {
    color: white;
    width: 40%;
    margin: 0 5%;
}

.sumate-link {
    display: flex;
    align-items: center;
    margin: 5% 10%;
}

.sumate-link a {
    width: 10%;
}

.sumate-link p {
    margin-left: 5%;
}

.link-img {
    width: 100%;
}

/*____________FOOTER________________*/

.footer {
    padding-top: 2%;
}

.footer-pomelo {
    width: 21%;
    border-left: 1px solid rgb(120, 120, 120);
    padding-left: 3%;
    color: rgb(120, 120, 120);
}

.footer-pomelo img {
    width: 100%;
}

.footer-tacleando {
    width: 40%;
}

.footer-tacleando img {
    width: 100%;
}

.footer-up {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 2% 4% 0;
}

.footer-credit {
    width: 100%;
    text-align: center;
    padding: 1% 0;
    color: rgb(120, 120, 120);
}

.footer-credit p {
    font-size: 0.9em;
}

.footer-credit a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(120, 120, 120);
}

/*__________________________________*/

/*__________MEDIA QUERY_____________*/

/*__________________________________*/

@media (max-width: 768px) {
    p {
        font-size: 1em;
    }
    /*PORTADA*/
    .portada {
        background-position: center;
    }
    .portada-title {
        font-size: 3em;
        padding: 35vh 0;
    }
    header {
        justify-content: center;
        width: 100%;
        margin: 0;
    }
    .logo {
        display: none;
        margin: 0;
    }
    nav {
        position: absolute;
        width: 100%;
        height: 200px;
        text-align: center;
        margin: 0;
        top: -200px;
    }
    .nav-animation-in {
        animation-name: nav-in;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes nav-in {
        0% {
            top: -200px;
        }
        100% {
            top: 0;
        }
    }
    .nav-animation-out {
        animation-name: nav-out;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes nav-out {
        0% {
            top: 0;
        }
        100% {
            top: -200px;
        }
    }
    .nav-color-grey {
        color: white;
    }
    nav ul {
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nav-element {
        display: block;
        width: 100%;
        padding: 15px 0;
        margin: 0;
        opacity: 1;
        background-color: white;
        color: rgb(100, 100, 100);
        border-bottom: 1px solid rgb(230, 230, 230);
    }
    .header-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        border: none;
        background-color: transparent;
    }
    .header-mobile-visible {
        background-color: white;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(201, 185, 201, 0.40);
        -moz-box-shadow: 0px 1px 5px 0px rgba(201, 185, 201, 0.40);
        box-shadow: 0px 1px 5px 0px rgba(201, 185, 201, 0.40);
    }
    .logo-mobile {
        display: block;
        visibility: hidden;
    }
    .logo-mobile-visible {
        visibility: visible;
    }
    .logo-mobile-hide {
        opacity: 1;
        animation-name: logo-hide;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes logo-hide {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .logo-mobile-show {
        opacity: 0;
        animation-name: logo-show;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes logo-show {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .menu-button {
        background-color: transparent;
        border: none;
        margin-right: 5%;
    }
    .menu-button:hover {
        cursor: pointer;
    }
    .menu-button-part {
        background-color: white;
        width: 35px;
        height: 5px;
        margin-bottom: 3px;
        border-radius: 5%;
    }
    .menu-button-part-orange {
        background-color: hsl(35, 86%, 63%);
    }
    .logo-mobile {
        width: 70%;
    }
    /*QUIÉNES SOMOS*/
    #quienes-somos {
        padding: 10% 0;
    }
    #quienes-somos img {
        display: none;
    }
    .quienes-somos-grid {
        margin: 0% 0% 4% 4%;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1% 98% 1%;
        justify-items: center;
        align-items: center;
    }
    #quienes-somos h1 {
        font-size: 10vw;
    }
    .quienes-somos-txt p {
        grid-column: 2 / span 1;
        font-size: 1em;
    }
    /* VISION */
    .vision-box {
        flex-flow: column;
    }
    .vision-col {
        width: 100%;
    }
    /*ENTRENAMIENTOS*/
    .section-entrenamientos {
        display: block;
    }
    .entrenamientos-title {
        font-size: 9vw;
    }
    .entrenamientos-text {
        width: 90%;
    }
    .entrenamientos-p {
        font-size: 1em;
    }
    .entrenamientos-map {
        width: 90%;
        margin: 10% 5%;
    }
    /*SUMATE*/
    .section-sumate {
        flex-flow: column;
        height: auto;
    }
    .sumate-title {
        font-size: 10vw;
    }
    .sumate-content {
        flex-flow: column;
    }
    .sumate-text {
        width: 90%;
        margin: 10% 0;
    }
    .sumate-contact {
        width: 80%;
        text-align: center;
        margin: 0;
    }
    .sumate-link {
        display: inline-block;
        width: 15%;
        margin: 0 3%;
        margin-bottom: 8%;
    }
    .sumate-link a {
        width: 15%;
    }
    .sumate-link p {
        display: none;
    }
    /* FOOTER */
    .footer-credit {
        width: 100%;
        text-align: center;
        padding: 2% 0;
        color: rgb(120, 120, 120);
        border-top: 1px solid rgb(120, 120, 120);
    }
    .footer-pomelo {
        width: 55%;
        border-left: none;
        text-align: center;
        padding-left: 0;
        margin: 2%;
        color: rgb(120, 120, 120);
    }
    .footer-tacleando {
        width: 100%;
        margin: 0;
    }
    .footer-up {
        flex-flow: column;
        padding: 2% 4%;
        align-items: center;
    }
}