div.container-fluid{
	margin-right: 0px;
	padding-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
}

body {
	padding-top: 80px;
}

h1{
	font-size: 5.9vw;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 800;
}

p{
	font-size: 1.3vw;
	color: rgb(120,120,120);
	font-family: 'Open Sans', sans-serif;
}

.open{
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
}

/*HEADER*/

#con-margenes{
	margin-right: 0.5%;
	padding-right: 0.5%;
	margin-left: 0.5%;
	padding-left: 0.5%;
	
}

nav {
	background-color: white !important;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(201,185,201,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(201,185,201,0.75);
    box-shadow: 0px 1px 5px 0px rgba(201,185,201,0.75);
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 7px;
  width: auto;
}

.navbar-brand {
  height: 80px;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

/* PORTADA */

.carousel-indicators li
{
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(241,166,60, 0.8);
	border: 1px solid rgba(241,166,60, 0.8);
	border-radius: 50%;
}
.carousel-indicators .active
{
	width: 13px;
	height: 13px;
	margin: 0;
	background-color: rgb(241,166,60);
}

#portada {
	border-bottom: 0px;
	padding-bottom: 0px;
}

#portada img{
	width: 100%;
}


/*QUIENES SOMOS*/



.quienes-somos-grid{
	margin: 0% 0% 4% 4%;
	padding-top: 5%;
	padding-bottom: 5%;
	max-width: 100%;
	display: grid;
	grid-template-columns: 1% 49% 49% 1%;
	justify-items: center;
	align-items: center;
}

#quienes-somos h1 {
	color: rgb(241,166,60);
}


.quienes-somos-txt{
	grid-column: 2 / span 1;
}

.quienes-somos-img{
	grid-column: 3/ span 1;
}

#quienes-somos img{
	margin-top: 10%;
	border-radius: 50%;
	width:90%;
}

/*VISION*/

.vision-fondo{
	background-image: url('../images/fondo-vision.jpg');
	background-size: cover;
}

.vision-grid {
	background-color: rgba(241,166,60, 0.85);
	padding-top: 5%;
	padding-bottom: 5%;
	display: grid;
	grid-template-columns: 1% 48% 48% 1%;
	grid-template-rows: 1fr 3fr;
	justify-items: center;
	align-items: start;
}

.vision-columna-1{
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}

.vision-columna-2{
	grid-column: 3 / span 1;
	grid-row: 2 / span 1;
}

#vision h1{	
	justify-self: end;
	grid-column: 2 / span 2;
	grid-row: 1 / span 1;
	color: white;
	margin: 4%;
	text-align: right;
}

#vision p{
	color: white !important;
	margin-left: 4%;
	margin-right: 4%;
}


/*ENTRENAMIENTOS*/

#entrenamientos {
	padding-top: 5%;
}


.mapas-grid{
	width: 100%;
	margin-top: 2%;
	display: grid;
	grid-template-columns: 4% 40% 5% 40% 1%;
	justify-items: start;
}

.mapa-1{
	grid-column: 2 / span 1;
	width: 100%;
}

.mapa-2{
	grid-column: 4 / span 1;
	width: 100%;
}

#entrenamientos h1 {
	margin-left: 4%;	
	color: rgb(120,120,120);
}

#entrenamientos p{
	margin-left: 4%;
	margin-right: 4%;
}



/*SUMATE*/
#sumate{
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 4%;
	position: relative;
	padding-top: 4%;

}

#sumate h1 {
	color: rgb(241,166,60);
	text-align: center;
	margin-bottom: 4%;
}

.contacto-grid{
    background-color: rgba(241,166,60,1);
    width: 100%;
    padding: 4%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
}

.contacto-1{
	grid-column: 1 / span 1;
}
.contacto-2{
	grid-column: 2 / span 1;
}
.contacto-3{
	grid-column: 3 / span 1;
}
.contacto-4{
	grid-column: 4 / span 1;
}





	

#contacto img {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

#contacto p {
	text-align: center;
	color: white;
	font-style: italic;
}

/*FOOTER*/

footer {
	position: relative;
	margin-top: 5%;
}

footer img {
	width: 35%;
	margin-left: 32%;
}

footer p {
	font-size: 0.9vw;
	text-align: center;
	color: rgb(90,90,90);
	margin-top: 2%;
}

#yo{
	margin-bottom: -2%;
}

#creditos {
	color: rgb(120,120,120);
	font-size:0.7vw;
}

footer a, footer a:link, footer a:visited, footer a:hover {
	text-decoration:none;
	font-weight: bold;
	color: rgb(120,120,120);
}

/*RESPONSIVE*/

@media only screen and (max-width: 768px){

	#quienes-somos img{
		display: none;
	}
	
	.quienes-somos-grid{
	margin: 0% 0% 4% 4%;
	padding-top: 5%;
	padding-bottom: 5%;
	max-width: 100%;
	display: grid;
	grid-template-columns: 1% 98% 1%;
	justify-items: center;
	align-items: center;
	}
	.quienes-somos-txt{
		grid-column: 2 / span 1;
	}

	.mapas-grid{
	width: 98%;
	margin-top: 3%;
	margin-left: 2%;
	display: grid;
	grid-template-columns: 1% 95% 1%;
	grid-template-rows: 1fr 1fr;
	justify-items: start;
	}

	.mapa-1{
		grid-column: 2 / span 1;
		grid-row: 1/ span 1;
		width: 99%;
		margin-bottom: 3%;
	}

	.mapa-2{
		grid-column: 2 / span 1;
		grid-row: 2/ span 1;
		width: 99%;
	}

	.mapas-grid iframe{
		height: 200px;
	}

	h1{
		font-size: 8vw;
		font-family: 'Alegreya Sans', sans-serif;
		font-weight: 800;
	}

	p{
		font-size: 4vw;
		color: rgb(120,120,120);
		font-family: 'Open Sans', sans-serif;
		text-align: left;
	}
	
    .navbar-brand>img {
  		height: 80%;
  		margin-top: 4%;
	}

	.vision-grid {
		background-color: rgba(241,166,60, 0.90);
		padding-top: 5%;
		padding-bottom: 5%;
		display: grid;
		grid-template-columns: 1% 98% 1%;
		grid-template-rows: 1fr 8fr 8fr;
		justify-items: center;
		align-items: start;
	}

	.vision-columna-1{
		grid-column: 2 / span 1;
		grid-row: 2 / span 1;
	}

	.vision-columna-2{
		grid-column: 2 / span 1;
		grid-row: 3 / span 1;
	}

	#vision h1{	
		justify-self: end;
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
		color: white;
		margin: 4%;
		text-align: right;
	}

	.contacto-grid{
    background-color: rgba(241,166,60,1);
    width: 100%;
    padding: 4%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
	}

	.contacto-1{
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
	}
	.contacto-2{
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
	}
	.contacto-3{
		grid-column: 1 / span 1;
		grid-row: 2 / span 1;
	}
	.contacto-4{
		grid-column: 2 / span 1;
		grid-row: 2 / span 1;
	}

	.letra-chica{
		font-size: 2.9vw !important;
		margin-top: 3%;
	}
	

}

@media only screen and (max-width:365px){
	
	
	

	
}